/.phpunit.cache
/node_modules
/public
/storage/*.key
/storage
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
/.fleet
/.idea
/.vscode
