.adob-cat_item {
    display: block;
    position: relative;
    min-height: 90px;
    background: $blue;
    color: white;
    padding: .8rem 1.2rem .5rem;
    cursor: pointer;
    transition: color .2s, background-color .2s;
    margin-bottom: 1.5rem;

    &:hover {
        background: $darkblue;
    }

    h3 {
        font-size: 1.8rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        white-space: unset;
    }

    span {
        font-size: 1.3rem;
        position: absolute;
        bottom: 8px;
        text-align: left;
    }
}

.adob-brand_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    min-height: 150px;
    background: $blue;
    color: white;
    padding: 1.2rem;
    cursor: pointer;
    transition: color .2s, background-color .2s;
    margin-bottom: 1.5rem;

    &:hover {
        background: $darkblue;
    }

    h3 {
        font-size: 2.5rem;
        font-weight: 600;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        white-space: unset;
        text-transform: uppercase;
    }

    img {
        max-height: 6rem;
    }
}

.highlight-brands {
    margin-bottom: 5rem;
}