// color

.white {
    color: $white !important;
}

.blue {
    color: $blue !important;
}

.black {
    color: $black !important;
}

// bg-color

.white-bg {
    background-color: $white !important;
}

.blue-bg {
    background-color: $blue !important;
}

.black-bg {
    background-color: $black !important;
}
