$images-path: '../images';
$fonts-path: '../fonts';

$white: #ffffff;
$darkblue: #1978a5;
$blue: #2098D1;
$blue2: #337ab7;
$green: green;
$black: #333;
$darkgrey: #555;
$grey: #777;
$grey2: #ccc;
$lightgrey: #f5f5f5;
$red: red;

$content-width: 1920px;

$row-width: 1200px;