.product-container {
    .product-infos {
        h2 {
            margin-bottom: 20px;
            padding: 40px 0 9px;
            border-bottom: 1px solid #eee;
        }

        dl {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
}

@media (min-width: $row-width) {
    .product-container {}
}